h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #394554;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #394554;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #394554;
}

.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    display: inline-block;
    padding: 15px;
    padding-top: 0;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
    float: right;
    margin-left: 10px;
    padding-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: #394554;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    float: left;
    width: 25px;
}

.paraspace {
    margin: 0px 160px;
    margin-top: 200px;
}

.paraspace2 {
    margin: 0px 160px;
    margin-top: 120px;
}

#bluetext {
    font-weight: bold;
    color: #9BAFFF;
}

.sectiondiv {
    padding: 200px 160px;
}

.row {
    justify-content: center;
    display: flex;
}

.column {
    margin: 10px 10px;
    padding: 50px 80px;
    border: solid 1px white;
    border-radius: 5%;
    background-color: white;
    filter: drop-shadow(2px 2px 4px #d3d3d3);
    text-align: center;
}

.row2 {
    justify-content: left;
    display: flex;
    align-items: center;
}

.column2 {
    padding-left: 160px;
    width: 50%
    ;
}

.column3 {
    padding-right: 160px;
    width: 50%;
    line-height: 100%;
}

#spacing {
    padding-bottom: 20px;
}

.resultpic {
    width: 50%;
    justify-content: left;
}

.resultpic2 {
    width: 50%;
    justify-content: right;
}

#resultbg {
    background-color: #FFDEA9;
}

#bold {
    font-weight: bold;
}